body {
    background-color: ghostwhite;
}
h1 {
    color: goldenrod;
    text-align: center;
}
form {
    text-align: center;
    background-color: floralwhite;
    border: 4px solid chartreuse;
    padding: 6px;
    margin: 20px;
}
h3 {
    color: indigo;
    text-align: center;
}
.form p {
    color: indigo;
    text-align: center;
}
.intro {
    padding: 6px;
    margin: 20px;
}
.card-body {
    background-color: snow;
}
label {
    color: indigo;
}